TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SID=SKxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SECRET=your_api_key_secret
TWILIO_AUTH_TOKEN=your_auth_token
PORT=4000
CORS_ORIGIN=http://localhost:5173
SERVER_URL=http://localhost:4000


